/* templates */
.rounded-corners (@radius: 8px) {
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
}

.imaged (@imageColor){
	width: 17em;
	height: 17em;
	background-color: white;	
	padding: 1em 1em 1em 1em;
	border : solid thick @imageColor;
	.rounded-corners
}

.lettered (@letterColor){
	background-color: white;	
	padding: 0em 0.3em 0em 0.3em;
	text-align: center;
	color: @letterColor;
	font: 17em "courier";
	font-weight: 900;
	border : solid thick @letterColor;
	.rounded-corners
}

.lettersmalled (@letterColor){
	background-color: white;	
	padding: 0 0.2em 0em 0.2em;
	text-align: center;
	color: @letterColor;
	font: 2em "courier";
	font-weight: 800;
	width: 0.8em;
	border : solid medium @letterColor;
	.rounded-corners(4px);
}

.lettermediumed (@letterColor, @fontSize: 6em){
	position: absolute;
	background-color: white;	
	padding: 0 0.2em 0em 0.2em;
	text-align: center;
	color: @letterColor;
	font: @fontSize "courier";
	font-weight: 800;
	border : solid medium @letterColor;
	.rounded-corners;
}

@yellower: darken(yellow, 2%);

/* rules */

.text-align-center {
	text-align: center;
}

.text-align-right {
	text-align: right;
}

#welcomepage {
	background: url('../images/dot.png');
	background-repeat: repeat;
}

#alefbetsong {
	background: url('../images/dot.png');
	background-repeat: repeat;
}

#typewriter {
	background: url('../images/dot.png');
	background-repeat: repeat;
}

#memory-game {
	background: url('../images/dot.png');
	background-repeat: repeat;
}

#drag-drop {
	background: url('../images/dot.png');
	background-repeat: repeat;
}

.alefsong-control {
	top: 80%;
	position: absolute;
	left: 35%;
}

.alefsong-main {
	top: 25%;
	position: absolute;
	right: 20%;
}

.alefsong-image {
	top: 25%;
	position: absolute;
	left: 20%;
}

.detection-location-top-1 {
	top: 10%	
}

.detection-location-top-2 {
	top: 40%	
}

.detection-location-top-3 {
	top: 70%	
}

.detection-location-right-1 {
	right: 5%	
}

.detection-location-right-2 {
	right: 18%	
}

.detection-location-right-3 {
	right: 31%	
}

.detection-location-right-4 {
	right: 44%	
}

.detection-location-right-5 {
	right: 57%	
}

.detection-location-right-6 {
	right: 70%	
}

.detection-location-right-7 {
	right: 83%	
}

.detection-location-right-1-prime {
	right: 2%	
}

.detection-location-right-2-prime {
	right: 14%	
}

.detection-location-right-3-prime {
	right: 26%	
}

.detection-location-right-4-prime {
	right: 38%	
}

.detection-location-right-5-prime {
	right: 50%	
}

.detection-location-right-6-prime {
	right: 62%	
}

.detection-location-right-7-prime {
	right: 74%	
}

.detection-location-right-8-prime {
	right: 88%	
}


.red-image {
	.imaged(red)
}

.green-image {
	.imaged(green)
}

.blue-image {
	.imaged(blue)
}

.purple-image {
	.imaged(purple)
}

.yellow-image {
	.imaged(@yellower)
}

.red-letter {
	.lettered(red)
}

.blue-letter {
	.lettered(blue)
}

.green-letter {
	.lettered(green)
}

.purple-letter {
	.lettered(purple)
}

.yellow-letter {
	.lettered(@yellower)
}

.red-letter-small {
	.lettersmalled(red)
}

.blue-letter-small {
	.lettersmalled(blue)
}

.green-letter-small {
	.lettersmalled(green)
}

.purple-letter-small {
	.lettersmalled(purple)
}

.yellow-letter-small {
	.lettersmalled(@yellower)
}

.red-letter-medium {
	.lettermediumed(red)
}

.blue-letter-medium {
	.lettermediumed(blue)
}

.green-letter-medium {
	.lettermediumed(green)
}

.purple-letter-medium {
	.lettermediumed(purple)
}

.yellow-letter-medium {
	.lettermediumed(@yellower);
}

.black-letter-medium {
	background-image: url(../images/background-image05.gif);
	.lettermediumed(black);
}

.red-letter-medium-minus {
	.lettermediumed(red, 4em)
}

.blue-letter-medium-minus {
	.lettermediumed(blue, 4em)
}

.green-letter-medium-minus {
	.lettermediumed(green, 4em)
}

.purple-letter-medium-minus {
	.lettermediumed(purple, 4em)
}

.yellow-letter-medium-minus {
	.lettermediumed(@yellower, 4em);
}

.writer-location-top-0 {
	position: absolute;
	top: 32%;	
	right: 45%;	
}

.writer-location-top-1 {
	top: 55%	
}

.writer-location-top-2 {
	top: 70%	
}

.writer-location-top-3 {
	top: 85%	
}

.drop-image {
	z-index: -100;
	left: 10%;
	position : absolute;
	width: 10%;
	height: 20%;
	.lettered(black);
}

.containment-wrapper {
	position: absolute;
	top: 5%;
	height : 90%;
	width: 90%;
}

